* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body{
    background-color: rgb(232, 232, 232);
}
h3, h4{
  color: rgb(2, 98, 2);
  font-family: cursive;
}
.enroll-btn {
  background-color: rgb(2, 98, 2);
  color: white;
}
.logo{
  width:10%;
  height:10%;
}
.login, .navbar-brand{
    color: rgb(2, 98, 2);
}
.first {
  background-image: url(./images/schooll.jpg);
  background-size: cover;
  height: 100%;
  padding-top: 15%;
  padding-left: 2%;
  padding-bottom: 5%;
  color:black;
}
.caroimg{
    height:500px;
    width:100%;
}
.carosize{
    width:70%;
}
.caroso{
    align-items: center;
}
.card{
    width:20rem;
    margin-bottom: 5%;
    position: relative;
}
.footer{
    background-color: rgb(207, 207, 207);
}



.card2{
    margin-top: 30px;
}
.card3{
    margin-top: 60px;
}
/* .card2::before{
    content:'';
    margin-top: 90px;
    position: absolute;
    background-color:rgb(2, 98, 2);
    height: 5px;
    width:60px;
    margin-left: -60px;
}
.card3::before{
    content:'';
    margin-top: 90px;
    position: absolute;
    background-color:rgb(2, 98, 2);
    height: 5px;
    width:60px;
    margin-left: -60px;
} */



/* MEDIA QUERY */

@media screen and (max-width: 800px) {
    h4{
        color:red;
        font-size:medium;
    }
    /* .card2::before{
        display: none;
    }
    .card3::before{
        display: none;
    } */
  }